# Conexion a la api y extraccion de datos

In [ ]:
from iqoptionapi.stable_api import IQ_Option
import logging

# Configurar logging
logging.basicConfig(level=logging.INFO)

# Autenticación
API = IQ_Option("alex.ch.o573@gmail.com", "dracarys069")
API.connect()

if API.check_connect():
    print("Conexión exitosa")
    balance = API.get_balance()
    print(f"Balance actual: {balance}")
else:
    print("Error de conexión")

Conexión exitosa
Balance actual: 9917.4

ERROR:iqoptionapi.ws.client:Connection is already closed.

In [2]:
from iqoptionapi.stable_api import IQ_Option
import time

goal = "EURUSD"
end_from_time = time.time()
ANS = []

for i in range(7):  # Esto obtendría aproximadamente 70,000 velas (70 x 1000)
    data = API.get_candles(goal, 30, 1000, end_from_time)
    ANS = data + ANS
    end_from_time = int(data[0]["from"]) - 1  # Ajusta el tiempo para la siguiente solicitud

In [5]:
ANS[1]

{'id': 5592449,
 'from': 1745560950,
 'at': 1745560980000000000,
 'to': 1745560980,
 'open': 1.13296,
 'close': 1.133005,
 'min': 1.1329,
 'max': 1.13303,
 'volume': 188}

In [ ]:
import pandas as pd 

data = pd.DataFrame(ANS)

# Conversión
data['from_dt'] = pd.to_datetime(data['from'], unit='s')
data['to_dt'] = pd.to_datetime(data['to'], unit='s')
data['at_dt'] = pd.to_datetime(data['at'], unit='ns')

# Si deseas reemplazar las columnas originales:
data['from'] = pd.to_datetime(data['from'], unit='s')
data['to'] = pd.to_datetime(data['to'], unit='s')
data['at'] = pd.to_datetime(data['at'], unit='ns')

In [8]:
df.head(5)

,id,from,at,to,open,close,min,max,volume,from_dt,to_dt,at_dt
0,5592448,1745560920,1745560950000000000,1745560950,1.133110,1.132965,1.132955,1.133165,251,2025-04-25 06:02:00,2025-04-25 06:02:30,2025-04-25 06:02:30
1,5592449,1745560950,1745560980000000000,1745560980,1.132960,1.133005,1.132900,1.133030,188,2025-04-25 06:02:30,2025-04-25 06:03:00,2025-04-25 06:03:00
2,5592450,1745560980,1745561010000000000,1745561010,1.133000,1.133070,1.132935,1.133110,155,2025-04-25 06:03:00,2025-04-25 06:03:30,2025-04-25 06:03:30
3,5592451,1745561010,1745561040000000000,1745561040,1.133075,1.132905,1.132895,1.133085,98,2025-04-25 06:03:30,2025-04-25 06:04:00,2025-04-25 06:04:00
4,5592452,1745561040,1745561070000000000,1745561070,1.132900,1.132810,1.132705,1.132940,238,2025-04-25 06:04:00,2025-04-25 06:04:30,2025-04-25 06:04:30

In [2]:
# Obtener velas históricas
asset = "EURUSD"
timeframe = 60  # 1 minuto
num_velas = 100
timestamp_actual = API.get_server_timestamp()

velas = API.get_candles(asset, timeframe, num_velas, timestamp_actual)
print(f"Últimas {num_velas} velas de {asset}: {velas[-1]}")


# Datos en tiempo real
API.start_candles_stream(asset, timeframe, 1)
API.get_realtime_candles(asset, timeframe)

Últimas 100 velas de EURUSD: {'id': 2798397, 'from': 1745864100, 'at': 1745864136003782754, 'to': 1745864160, 'open': 1.14055, 'close': 1.14048, 'min': 1.140395, 'max': 1.14055, 'volume': 149}

defaultdict(dict,
            {1745864100: {'active_id': 1,
              'size': 60,
              'at': 1745864140000000000,
              'from': 1745864100,
              'to': 1745864160,
              'min_at': 1745864122,
              'max_at': 1745864100,
              'id': 2798397,
              'open': 1.14055,
              'close': 1.140475,
              'min': 1.140395,
              'max': 1.14055,
              'ask': 1.14048,
              'bid': 1.14047,
              'volume': 167,
              'phase': 'T'}})

In [11]:
# Parámetros de la operación
monto = 10       # USD
activo = "EURUSD"
direccion = "call"  # call/put
expiracion = 1     # 1 minuto (modo turbo)

# Ejecutar orden
status, order_id = API.buy(monto, activo, direccion, expiracion)

if status:
    print(f"Orden colocada - ID: {order_id}")
    # Verificar resultado
    resultado = API.check_win_v3(order_id)
    print(f"Resultado: {resultado}")
else:
    print("Error al colocar orden")

Error al colocar orden

In [12]:
# Obtener todos los activos disponibles
activos = API.get_all_ACTIVES_OPCODE()

# Verificar horario de trading
horarios = API.get_all_open_time()
print(f"EURUSD abierto: {horarios['turbo']['EURUSD']['open']}")

# Cerrar operaciones activas
API.sell_option(order_id)

EURUSD abierto: False

{'request_id': '', 'name': 'sold-options', 'msg': {}, 'status': 4000}

### REVISAR COMO CAMBIAR A MODO DE OPERACION CON CUENTA DEMO Y A EXTRAER INDICADORES TECNICOS

In [ ]:
goal = "EURUSD"             #   Mercado
end_from_time = time.time() #   Ultima marca de tiempo
ANS = []

for i in range(range_days):     # range_days : Cantidad de dias de los que se extraera la data
    data = self.API.get_candles(goal, 60, 1000, end_from_time) # Extraccion de las anteriores 1000 velas desde la marca de tiempo
    ANS = data + ANS
    end_from_time = int(data[0]["from"]) - 1                    # Actualizacion de la nueva marca de tiempo

data = pd.DataFrame(ANS)
data.drop(['id','at'], axis=1, inplace=True)

return data

In [36]:
from iqoptionapi.stable_api import IQ_Option

gmail = "alex.ch.o573@gmail.com", 
password = "dracarys069"

# Conexión a la cuenta
def connect_account(email, password, account_type="PRACTICE"):
    API = IQ_Option(email, password)
    API.connect()  # Conexión básica
    
    if account_type.upper() == "REAL":
        API.change_balance("REAL")  # Cambiar a cuenta real
    else:
        API.change_balance("PRACTICE")  # Modo demo (predeterminado)
    
    return API

# Uso:
api = connect_account(gmail, password, account_type="PRACTICE")

In [37]:
# Obtener balance y tipo de cuenta
balance = api.get_balance()
account_type = "REAL" if balance > 1000000 else "PRACTICE"
print(f"Modo actual: {balance}")

Modo actual: 9913.1